.container {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  grid-gap: 5px;
  margin: auto;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
    margin: auto;
  }
} */
